html{
  background-color: black;
  overflow-y: hidden;
}
header{
  /* height: 150px;
  background-color: blueviolet; */
}
.content{
  width: auto;
  height: 100vh;
  position: relative;
  display: flex;
  justify-content: center;
}
#BackImage{
  position: absolute;
  height: 100vh;
}
#FrontImage{
  position: absolute;
  height: 100vh;
  z-index: 10;
}
#Model{
  position: absolute;
  top: 73%;
  left: 53%;
  transform: translate(-50%, -50%);
  width: 600px;
  height: 580px;
}
footer{
  /* height: 100px;
  background-color: aqua; */
}