html{
  background-image: url("../img/bak1.jpg");
  background-size: contain;
  font-family: 'Nanum Pen Script', sans-serif;
}
body{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.MainPage{
  position: relative;
  display: flex;
  justify-content: center;
  width: 500px;
  height: 850px;
  background-image: url("../img/8.png");
  background-size: contain;
}
#BackImage{
  width: 500px;
  height: 850px;
}
.ContainModel{
  position: absolute;
  bottom: 0;
  height: 500px;
  width: 430px;
  transform: translate(35px, 0);
}
#Model{
  width: 100%;
  height: 100%;
}

.SubPage{
  background-color: #eaf2d0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 500px;
  height: 500px;
}
.ContainEpic{
  text-align: center;
  line-height: 35px;
  letter-spacing: 2px;
  font-size: 400;
  font-size: 21px;
}
#Title{
  color: #859235;
  font-size: 28px;
}

@media (max-width: 600px) {

}