body {
  width: 100%;
}

#wrap {
  overflow: hidden;
  max-width: 800px;
  margin: 0 auto;
}

.templatearea {
  width: 100%;
  /* height: 0px;*/
  position: relative;
  letter-spacing: 0px;
}

.item {
  display: flex;
}

.text {
  width: 100%;
}

.photo {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  /*수직 정렬*/
  align-items: center;
  justify-content: center;
}

.frame_wrap {
  display: none;
  background: #fff;
}

#area1 {
  padding: 0px !important;
}

#area4 {
  padding: 0px !important;
}

#area21 {
  padding: 10px !important;
}

.onoff_4 {
  padding: 0px !important;
}

img {
  margin: 0px !important;
  padding: 0px !important;
}